@use "sass:map";
@use "vars";

html {
  font-family: Murecho, sans-serif;
}

body {
  background-color: #5f5c5c;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: inherit;
  opacity: .7;

  transition: opacity .2s;

  &:hover,
  &_active {
    opacity: 1;
  }
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font-size: vars.$h1-font-size;
}

h2 {
  font-size: vars.$h2-font-size;
}

h3 {
  font-size: vars.$h3-font-size;
}

h4 {
  font-size: vars.$h4-font-size;
}

h5 {
  font-size: vars.$h5-font-size;
}

h6 {
  font-size: vars.$h6-font-size;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  padding: 0 15px;
  margin: auto;
  width: 100%;

  @media (min-width: 576px) {
    width: map.get(vars.$container-max-widths, 'sm');
  }

  @media (min-width: 768px) {
    width: map.get(vars.$container-max-widths, 'md');
  }

  @media (min-width: 992px) {
    width: map.get(vars.$container-max-widths, 'lg');
  }

  @media (min-width: 1200px) {
    width: map.get(vars.$container-max-widths, 'xl');
  }

  @media (min-width: 1400px) {
    width: map.get(vars.$container-max-widths, 'xxl');
  }
}

.horizontal-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.paper-block {
  width: 30em;
  height: 30em;
  padding: 0 3em 3em 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/paper.png");
  background-repeat: no-repeat;
  background-size: contain;

  font-family: Caveat, cursive;
  font-size: 10px;

  transition: .2s ease-in-out;

  &:hover {
    transform: rotate(-3deg);

    filter: drop-shadow(0 0 2em vars.$color-red-shadow);
  }

  &_active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%) !important;

    filter: none !important;

    scale: 2.5;

    z-index: 100;
  }

  &__container {
    width: 100%;

    transform: translateY(-3em) rotate(-3deg);

    transition: .2s ease-in-out;
  }

  &__title {
    margin-bottom: 1em;
  }
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  pointer-events: none;

  background-color: #00000080;

  opacity: 0;

  transition: .2s ease-in-out;

  &_open {
    opacity: 1;

    pointer-events: all;
  }
}