@use "sass:map";
@use "../../../../styles/vars";

.lectures {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5em 1em;

  font-size: 1em;

  & h5 {
    margin: 0 0 1em 0;
    font-size: 1.5em;
  }
}

.lecture {
  &__teacher {
    margin-bottom: .5em;
  }
}